vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 May 2013 17:58:40 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|app/4/request-policy-change.html app/9/contact.html app/9/index.html app/4/index.html app/4/request-quote.html app/9/report-claim.html start-server.php 15/home.php app/4/contact.html app/4/thanks.html app/4/what-to-do.html app/9/request-certificate.html app/9/request-quote.html 15/resources.php app/4/report-claim.html app/9/what-to-do.html 10/erase.html app/4/request-certificate.html app/9/request-policy-change.html app/9/thanks.html app/9/index.php
vti_author:SR|web4u\\mtigue
vti_modifiedby:SR|web4u\\mtigue
vti_timecreated:TR|11 Oct 2012 19:11:14 -0000
vti_nexttolasttimemodified:TW|24 May 2013 17:58:31 -0000
vti_syncofs_208.109.14.76\:21/schantz:TW|18 Jan 2013 15:11:17 -0000
vti_syncwith_208.109.14.76\:21/schantz:TX|18 Jan 2013 12:10:54 -0000
vti_syncwith_208.109.14.76\:21/confessionapp:TX|05 Feb 2013 13:22:59 -0000
vti_syncofs_208.109.14.76\:21/confessionapp:TW|05 Feb 2013 19:01:02 -0000
vti_syncofs_68.178.246.6\:21/adorationapp:TW|24 May 2013 17:38:05 -0000
vti_syncwith_68.178.246.6\:21/adorationapp:TX|24 May 2013 17:37:41 -0000
vti_cacheddtm:TX|24 May 2013 17:58:40 -0000
vti_filesize:IR|3652
vti_cachedlinkinfo:VX|S|../images/tiling_stripes3.gif S|images/tiling_stripes3.gif
vti_cachedsvcrellinks:VX|FSUS|15/images/tiling_stripes3.gif NSUS|15/css/images/tiling_stripes3.gif
